[project]
	description = Storage Performance Development Kit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aleksei Marov (alekseymmm)
[access "refs/for/refs/*"]
	read = group user/Aleksei Marov (alekseymmm)
	push = group user/Aleksei Marov (alekseymmm)
	label-Code-Review = -2..+2 group user/Aleksei Marov (alekseymmm)
	label-Verified = -1..+1 group user/Aleksei Marov (alekseymmm)
	rebase = group user/Aleksei Marov (alekseymmm)
	removeReviewer = group user/Aleksei Marov (alekseymmm)
	submit = group user/Aleksei Marov (alekseymmm)
[access "refs/heads/*"]
	read = group user/Aleksei Marov (alekseymmm)
	create = group user/Aleksei Marov (alekseymmm)
	push = +force group user/Aleksei Marov (alekseymmm)
	pushMerge = group user/Aleksei Marov (alekseymmm)
[access "refs/tags/*"]
	push = group user/Aleksei Marov (alekseymmm)
	push = +force group user/Aleksei Marov (alekseymmm)
